{
  "env": {
    "mocha": true
  },
  "globals": {
    "sinon": false,
    "expect": false
  },
  "rules": {
    "no-unused-expressions": 0,
    "max-len": 0,
    "mocha/no-exclusive-tests": 1,
    "mocha/handle-done-callback": 1,
    "mocha/no-nested-tests": 1
  },
  "plugins": [
    "mocha"
  ]
}
