{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
  ],
  "env": {
    "commonjs": true,
    "node": true
  },
  "globals" : {
  },
  "settings": {
    "import/resolver": "node"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread" : true
    }
  },
  "rules": {
    "no-extra-boolean-cast": 0,
    "no-prototype-builtins": 0,
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "varsIgnorePattern": "logger" }],
    "max-len": [2, {"code": 120, "tabWidth": 2, "ignoreUrls": true}],
    "arrow-spacing": 2,
    "object-curly-spacing": [2, "always"],
    "no-multiple-empty-lines": 0,
    "id-length": [2, {"exceptions": ["$", "_", "L", "v", "w", "h", "i", "j"]}],
    "array-bracket-spacing": [0, "always"],
    "arrow-body-style": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "padded-blocks": 0,
    "class-methods-use-this": 0,

    # ensure JSDoc comments are valid
    "valid-jsdoc": [1, {
      "requireReturn": false,
      requireParamDescription: false,
      requireReturnDescription: false
    }],

    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/no-duplicates": 0,
    "import/newline-after-import": 0,
    "import/imports-first": 0,
    "import/extensions": 0,
  },
}
